@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div>
	<form asp-action="ResetPassword" asp-controller="Account">
	
		<input class="text my-2 " asp-for="Password" placeholder="Password" required="">
		<input class="text my-2  w3lpass" asp-for="ConfirmedPassword" placeholder="ConfirmedPassword" required="">
		
		<input type="submit" value="Reset Password">
	</form>


</div>

