@model RoleViewModel

@{
    ViewData["Title"] = "Update";
}

<div class="DetailsUsers After shadow px-5 py-3 rounded-2 my-2 ">
    <div class="w-100 mb-3 text-center">


        <h1 class=" ">Update User @Model.RoleName   </h1>
    </div>



    <form asp-action="Update">


        <partial name="RolePartialView/PartialViewToCreateAndUpdate"></partial>




        <div class="d-flex justify-content-between  my-3">
            <input type="submit" value="Update" class="btn btn-success" />
            <a  asp-action="Index" class="btn btn-warning">Back To List</a>

        </div>
    </form>

        <a asp-action="AddOrRemoveUser" asp-route-roleId="@Model.Id" class="btn btn-primary my-3">Add Or Remove User</a>
    @section ClientSideValidationByHazem {


        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    }


</div>