 @model Department
@{
    ViewData["Title"] = "Create";
}
<div class="w-100 m-5 text-center bg-dark shadow p-5 rounded-3">
    <h1 class="text-white ">Create New Department </h1>
</div>


<form asp-action="Create">
    <partial name="PartialViews/SharedCodeCreateAndUpdate"></partial>
    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
