
@model Department
@{
    ViewData["Title"] = "Delete";
}

<div class="w-100 m-5 text-center bg-dark shadow p-5 rounded-3">
    <h1 class="text-white ">  You Can Delete This!! </h1>
</div>
<form asp-action="Delete">
    <div class="form-group">
        <label asp-for="Code" class="col-form-label"></label>
        <input asp-for="Code" class="form-control" readonly />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input readonly asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <input readonly asp-for="DateOfCreation" class="form-control" />
    </div>

    <input type="submit" asp-controller="Department" asp-action="Delete" class="btn btn-danger">
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
