@model Department
@{
    ViewData["Title"] = "Details";
}
<div class="w-100 m-5 text-center bg-dark shadow p-5 rounded-3">
    <h1 class="text-white "> Details </h1>
</div>
<div>
    <partial name="PartialViews/SharedCodeDelateAndDeatailsDepartment"></partial>

    <a asp-controller="Department" asp-all-route-id="@Model.Id" asp-action="Update" class="btn btn-warning">Update</a>
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</div>



