@model Department
@{
    ViewData["Title"] = "Details";
}
<div class="DetailsEmployee After shadow px-5 py-3 rounded-2 my-2 ">
    <div class="w-100 mb-3 text-center">
        <h1 class="w-100 mb-3 text-center "> Details </h1>
    </div>
    <div>
        <partial name="PartialViews/SharedCodeDelateAndDeatailsDepartment"></partial>



        <div class="d-flex justify-content-between  my-3">
            <a asp-controller="Department" asp-route-id="@Model.Id" asp-action="Update" class="btn btn-success">Update</a>
            <a asp-controller="Department" asp-action="Index" class="btn btn-warning">Back To List</a>
        </div>
    </div>

</div>





