@model Department
@{
    ViewData["Title"] = "Update";
}
<div class="w-100 m-5 text-center bg-dark shadow p-5 rounded-3">
    <h1 class="text-white ">Update Department </h1>
</div>
<form asp-action="Update">
    <div asp-validation-summary="All" class="w-100 h-25 justify-content-center p-5 m-5 rounded-3 shadow bg-danger"></div>
    <partial name="PartialViews/SharedCodeCreateAndUpdate"></partial>
    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>

