
@model Employee
@{
    ViewData["Title"] = "Delete";
}

<div class="w-100 m-5 text-center bg-dark shadow p-5 rounded-3">
    <h1 class="text-white ">  You Can Delete This!! </h1>
</div>
<form asp-action="Delete">
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Age" class="col-form-label"></label>
        <input asp-for="Age" class="form-control" readonly />

    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" readonly />

    </div>

    <div class="form-group">
        <label asp-for="Address" class="col-form-label"></label>
        <input asp-for="Address" class="form-control" readonly />

    </div>


    <div class="form-group">
        <label asp-for="Salary" class="col-form-label"></label>
        <input asp-for="Salary" class="form-control" readonly />

    </div>


    <div class="form-group">
        <label asp-for="phoneNumber" class="col-form-label"></label>
        <input asp-for="phoneNumber" class="form-control" readonly />

    </div>

    <div class="form-group">
        <label asp-for="HiringDate" class="col-form-label"></label>
        <input asp-for="HiringDate" class="form-control" readonly />

    </div>

    <div class="form-group">
        <label asp-for="IsActivated" class="col-form-label"></label>
        <input asp-for="IsActivated" class="form-check" readonly />

    </div>


    <input type="submit" asp-controller="Employee" value="Delete" asp-action="Delete" class="btn btn-danger">
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
