@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}
<div class="DetailsEmployee After shadow px-5 py-3 rounded-2 my-2 ">
    <div class="w-100 mb-3 text-center">
    <h1 class=" ">Employee Detail </h1>
</div>
<div>
    <partial name="PartialView/PartialViewToDetailsAndDelete" ></partial>

   <input asp-for="ImageName" hidden/>

        <div class="d-flex justify-content-between  my-3">
            <a asp-controller="Employee"  asp-action="Update" class="btn btn-success">Update</a>
            <a  asp-action="Index" class="btn btn-warning">Back To List</a>
        </div>
</div>

</div>


